/* Write the CSS for you answer here */
#Container{
    /*border: solid 2px;*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

#background{
    margin: auto;
}

#baubles > img {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*z-index: 2;*/
    display: inline-block;
    filter: brightness(85%) grayscale(0.4);
    transition: transform 1s ease;
    transition-delay: 0.2s;
    /*transition-duration: 5s;*/
    /*transition-timing-function: linear;*/

}
#baubles > img:hover{
    transform: scale(1.5);
    transform: translate(0px,200px);
    filter: brightness(100%);
    animation-name: flicker;
    animation-duration: 4s;
    /*animation-direction: forward;*/
    animation-iteration-count: 1;
    /*animation-name: dropbaubles;*/
    /*animation-duration:1s;*/
    /*animation-iteration-count: 1;*/
}


@keyframes flicker {
    from {
        filter: brightness(10%);
        /*transform: translate(0,0);*/
        top: 40%;
    }
    40% {
        filter: brightness(70%);
        /*transform: translate(0,100%);*/
        top: 60%;
    }
    50% {
        filter: brightness(20%);
        /*transform: translate(0,70%);*/
    }
    80% {
        filter: brightness(70%);
        /*transform: translate(0,100%);*/
        top: 50%
    }
    90% {
        filter: brightness(20%);
        /*transform: translate(0, 70%);*/
        top: 50%;
    }
    to {
        filter: brightness(90%);
        /*transform: translate(0,100%);*/
        top: 60%;
    }
}



@keyframes dropbaubles {
    from {

    }

    to {
      ;
    }
}

#tree{
    position: absolute;
    width: 100%;
    top: 110px;
    z-index: 1;
    opacity: 1;
    pointer-events: none;
}

#pink {
    position: absolute;
    left: 400px;
    top: 315px;
    z-index: 0;
    transition: transform 1s ease;
    transition-delay: 0.2s;
}

    #pink:hover{
    transform: scale(1.2);
    transform: translate(0px,200px);
    filter: brightness(100%);
    animation-name: flicker;
    animation-duration: 4s;
    /*animation-direction: forward;*/
    animation-iteration-count: 1;
    /*animation-name: dropbaubles;*/
    /*animation-duration:1s;*/
    /*animation-iteration-count: 1;*/
}
#red {
    position: absolute;
    left: 80px;
    top: 350px;
    z-index: 3;

}
#blue {
    position: absolute;
    left:150px;
    top: 250px;
    z-index: 3;
}
#darkblue {
    position: absolute;
    left:300px;
    top: 210px;
    z-index: 3;
}
#orange {
    position: absolute;
    left:600px;
    top: 270px;
    z-index: 3;
}
#green {
    position: absolute;
    left:500px;
    top: 270px;
    z-index: 3;
}