/* Write the CSS for you answer here */
#Container{
    /*border: solid 2px;*/
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
}

#background{
    margin: auto;
}

#baubles{
    position: absolute;
    left:0;
    top:0;
    z-index: 2;
    filter: brightness(85%);
    filter: grayscale(0.4);

}

#baubles:hover{

    filter: brightness(100%);
    animation-name: flicker;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes flicker {
    from {
        filter: brightness(10%);
    }
    30% {
        filter: brightness(70%);
    }
    70% {
        filter: brightness(10%);
    }
    to {
        filter: brightness(90%)
    }
}

#tree{
    position: absolute;
    width: 100%;
    top: 110px;
    z-index: 1;
    opacity: 1;
}

#pink {
    position: absolute;
    left: 400px;
    top: 315px;
    z-index: 0;
}
#red {
    position: absolute;
    left: 80px;
    top: 350px;
    z-index: 3;
}
#blue {
    position: absolute;
    left:150px;
    top: 250px;
    z-index: 3;
}
#darkblue {
    position: absolute;
    left:300px;
    top: 210px;
    z-index: 3;
}
#orange {
    position: absolute;
    left:600px;
    top: 270px;
    z-index: 3;
}
#green {
    position: absolute;
    left:500px;
    top: 270px;
    z-index: 3;
}